{% extends 'frontend/basic.html' %}

{% block content %}
<div id="box-password">
    <h3>Reset your account password.</h3>
    <form action="#" method="POST">
        <div>
            <label>Input your phone number or email address:
                <input type="number" min="02000000" name="user_name" placeholder="Phone number or email address">
            </label>
        </div>
        <div>
            <label>Your secret question:
                <input type="text" name="question" placeholder="Secret question">
            </label>
        </div>
        <div>
            <label>Your secret answer:
                <input type="password" name="answer" placeholder="Password">
            </label>
        </div>
        <input class="button" type="submit" name="submit" value="Reset">
    </form>
</div>
{% endblock %}